body {
  background-color: lightgrey;
  height: 100vh;
}
.h1 {
  color: darkred;
  text-align: center;
  font-size: 45px;
  margin-top: 150px;
}
.para {
  text-align: center;
  font-size: 20px;
  color: black;
}
.btn {
  margin-left: 710px;
  background-color: darkred;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 5px;
}
.btn:hover {
  background-color: white;
  color: darkred;
  border: 2px solid darkred;
  font-weight: bold;
}
